.Table {
  table-layout: fixed;
  width: 100%;
  min-width: 300px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 0;

  th {
    background-color: #93ad18;

    &:nth-child(even) {
      background-color: #6e8711;
    }
  }

  th,
  td {
    text-align: start;
    padding: 1rem;
    word-break: break-word;
    border: 1px solid lighten($color: #93ad18, $amount: 30%);
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: lighten($color: #93ad18, $amount: 30%);
      }
    }
  }
}

.containerTable {
  width: 100%;
  overflow: auto;

  &:active {
    cursor: grabbing;
  }
}

.controlers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: max-content;
  margin-bottom: 20px;
  gap: 20px;

  .entries {
    display: flex;
    align-items: center;
    gap: 10px;

    .selectEntries {
      border-color: #93ad18;
      border-radius: 5px;
      padding: 5px 15px;
    }
  }

  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;
    border: 1px solid #93ad18;
    border-radius: 5px;
    padding: 5px;

    .iconSearch {
      svg {
        stroke: #93ad18;
      }
    }

    .inputSearch {
      border: none;
      padding: 10px;
      outline-color: #6e8711;
    }
  }
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 10px;

  .btnControl {
    background-color: #93ad18;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: lighten($color: #93ad18, $amount: 10);
      color: #000;
    }
  }

  .disabled {
    background-color: grey;
  }
}
